rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.uid == 'Qz26Tz3wMldTp1DP93vyLjdrfn92';
    }

    match /siteSettings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
